
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    top: 80px;
    background-color: black;
}

.hide {
    display: none;
}

.rodape{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color: black;
    padding: 50px;
}
